@use '/src/styles/constants/colors';

.movieItem {
  position: relative;
  height: 180px;
  margin-bottom: 10px;
  background: blue;
  border-radius: 30px;

  button {
    display: grid;
    grid-template-columns: 102px 180px 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background: none;

    .moviePoster {
      max-width: 102px;
      height: 150px;
      object-fit: contain;
    }

    .movieInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 150px;
      margin-left: 16px;

      dt {
        align-self: flex-start;
        height: 70%;
        font-size: 18px;
        font-weight: 600;
        text-align: start;
      }
    }

    svg {
      justify-self: flex-end;
    }

    .favorite {
      fill: colors.$YELLOW;
    }
  }
}
