@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/responsive';

.header {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: white;

  .searchForm {
    position: fixed;
    top: 0;
    z-index: levels.$SEARCH_FORM;
    width: 100%;
    height: 50px;
    background-color: white;

    form {
      width: 90%;
      height: 30px;
      margin: 10px auto;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 20%);
    }

    input {
      width: 90%;
      height: 30px;
      padding-left: 12px;

      &::placeholder {
        color: colors.$GRAYA;
      }
    }

    button {
      width: 10%;
      height: 100%;
      background: colors.$ORANGE;

      .icon {
        width: 15px;
        height: 15px;
      }
    }
  }

  @include responsive.after(responsive.getMinBreakpoint(MD)) {
    .searchForm {
      width: 860px;

      form {
        width: 50%;
      }
    }
  }
}

.searchList {
  width: 95%;
  height: 100%;
  margin: 30px auto 0;

  .noResult {
    display: block;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  & > div {
    margin: 0 auto 10px;
  }
}
