@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.searchForm {
  position: relative;
  width: 90%;
  margin: 20px auto 0;
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 20%);

  form {
    height: 30px;
  }

  input {
    width: 90%;
    height: 100%;
    padding-left: 12px;

    &::placeholder {
      color: colors.$GRAYA;
    }
  }

  button {
    width: 10%;
    height: 100%;
    background: colors.$ORANGE;

    .icon {
      width: 15px;
      height: 15px;
    }
  }
}

.searchList {
  width: 95%;
  height: 100%;
  margin: 30px auto 0;

  .noResult {
    display: block;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
}

@include responsive.after(responsive.getMinBreakpoint(MD)) {
  .searchForm {
    width: 50%;
  }
}
