@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.searchForm {
  position: relative;
  width: 90%;
  margin: 20px auto 0;
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 20%);

  form {
    height: 30px;
  }

  input {
    width: 90%;
    height: 100%;
    padding-left: 12px;

    &::placeholder {
      color: colors.$GRAYA;
    }
  }

  button {
    width: 10%;
    height: 100%;
    background: colors.$ORANGE;

    .icon {
      width: 15px;
      height: 15px;
    }
  }
}

.searchList {
  width: 95%;
  height: 100%;
  margin: 30px auto 0;

  .noResult {
    display: block;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  li {
    display: grid;
    grid-template-columns: minmax(120px, auto) 1fr;
    align-items: center;
    height: 180px;
    padding: 0 20px;
    margin-bottom: 10px;
    background: blue;
    border-radius: 30px;

    .moviePoster {
      height: 150px;
    }

    .movieInfo {
      display: grid;
      grid-template-rows: minmax(70%, auto) 1fr 1fr;
      height: 150px;
      margin-left: 20px;

      span:first-of-type {
        align-self: flex-start;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}

@include responsive.after(responsive.getMinBreakpoint(MD)) {
  .searchForm {
    width: 50%;
  }
}
