@use '/src/styles/constants/colors';

.title {
  width: 90%;
  margin: 0 auto;

  h1 {
    height: 46px;
    margin-top: 14px;
    font-size: 18px;
    font-weight: 600;
    line-height: 46px;
  }
}

.favoritesList {
  width: 95%;
  height: 100%;
  margin: 20px auto 0;

  .noFavorite {
    display: block;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  .movieItem {
    position: relative;
    height: 180px;
    margin-bottom: 10px;
    background: colors.$NAV;
    border: 1px solid colors.$BORDER;
    border-radius: 10px;
    box-shadow: 0 6px 6px colors.$SHADOW;
  }
}
